---
title: Music-Test
layout: default
---

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.22.0/mediaelementplayer.min.css'>
<link rel="stylesheet" href="./assets/css/fancybar-style.css">

<h1>Music-Test</h1>

{% for music_file in site.music %}
  {% if music_file.gdrive_id %}
<h3>{{ music_file.title}}</h3>
    {% include gdrive-embed.html %}
  {% endif %}
  {% if music_file.dropbox_id %}
    {% include dropbox-embed.html %}
  {% endif %}
{% endfor %}

<script src='./assets/js/fancybar-jquery.js'></script>
<script src='./assets/js/fancybar-mediaelement-and-player.min.js'></script>
<script src="./assets/js/fancybar-script.js"></script>
