---
layout: default
---

<h1>{{ page.title }}</h1>

<p>
  {{ page.date | date_to_string }}
  {% if page.author %}
  {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
    - <a href="{{ author.url }}">{{ author.name }}</a>
  {% endif %}
  {% endif %}

<class="post-categories">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
    - <a href="{{site.baseurl}}/categories.html<!--/#{{category|slugize}}"-->>{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}

<class="post-tags">
  {% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  {% for tag in tags %}
    - <a href="{{site.baseurl}}/tags.html<!--/#{{tag|slugize}}"-->>{{tag}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
  
<!--
  {% if page.category %}
  {% assign category = site.categories | where: 'short_name', page.category | first %}
  {% if category %}
    - <a href="{{ category.url }}">{{ category.name }}</a>
  {% endif %}
  {% endif %}
-->
</p>

{{ content }}


